<div class="container">

    <form>
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="searchText" />
            </div>
            <div class="col-xs-3">
                <button type="button" id="btn-search" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tbody id="result"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $.get('/api/Posts/PostGrid', function (data) {
                BuildGrid(data);
            }, 'json');

            $('#btn-search').on('click', function () {
                $.ajax({
                    type: "GET",
                    url: "/api/Posts/SearchResult/" + $("#searchText").val(),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        BuildGrid(response);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.responseText);
                    }
                });
            });

        });

        function BuildGrid(data) {
            $('#result').empty();
            $.each(data, function (i, v) {                
                var string = '<tr style="color: dodgerblue;">' +
                                '<td>' + v.PostTitle + '</td>' +
                                '<td>' + v.Author + '</td>' +
                                '<td>' + v.DatePosted + '</td>' +
                                '<td>' + v.commentsCount + ' comment' + (v.commentsCount > 1 ? "s" : "") + '</td>' +
                            '</tr>';
                if (v.commentsCount > 0) {
                    $.each(v.comments, function (m, n) {
                        var cstring = '<tr>' +
                                '<td>' + n.CommentDescription + '</td>' +
                                '<td>' + n.CommentedBy + '</td>' +
                                '<td>' + n.CommentDate + '</td>' +
                                '<td><span class="glyphicon glyphicon-chevron-up"></span> ' + n.likeCount + ' <span class="glyphicon glyphicon-chevron-down"></span> ' + n.dislikeCount + '</td>' +
                            '</tr>';
                        string = string + cstring;
                    })
                }

                $('#result').html($('#result').html() + string + '');
            });
        }

    </script>
}
